<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>로그인 페이지</title>
    </head>
    <body>
        <h1>로그인 페이지</h1>
        <hr/>
        <h2>로그인 유저 : </h2>
        <p sec:authentication="principal"></p>

        <div sec:authorize="isAnonymous()" style="background-color:pink; padding:1em;">
            <form action="/login" method="post">
                <input type="text" name="username" />
                <input type="password" name="password" />
                <button>로그인</button>
            </form>
            <a href="/oauth2/authorization/google">구글 로그인</a>
            <a href="/oauth2/authorization/naver">네이버 로그인</a>
            <a href="/oauth2/authorization/kakao">카카오 로그인</a>
            <br><br>
            <a href="/joinForm">회원가입하기</a><br>
        </div>

        <div sec:authorize="isAuthenticated()" style="background-color:pink; padding:1em;">
            <a href="/logout">로그아웃</a>
        </div>
    <br><br>

    <p></p>

    <div sec:authorize="isAuthenticated()">
        <input type="text" id="count">
        <button onclick="getTodayWords()">getTodayWords</button>
        <div id="todayWords"></div>
        <p></p>

        <button onclick="getTodayTests()">getTodayTests</button>
        <div id="todayTests"></div>
        <p></p>

        <input type="text" id="memorizeWordId">
        <button onclick="memorize()">memorize 테스트 시 맞으면 호출</button>
        <div id="memorize"></div>
        <p></p>
    </div>

    </body>
    <script>
        function getTodayWords(){
            let count = document.querySelector("#count").value;
            fetch("/api/words/"+count, { method: "GET" })
            .then(result => { return result.json(); })
            .then(data => {
                document.querySelector("#todayWords").innerHTML = JSON.stringify(data);
             });
        }

        function getTodayTests(){
            fetch("/api/words/test", { method: "GET" })
            .then(result => { return result.json(); })
            .then(data => {
                document.querySelector("#todayTests").innerHTML = JSON.stringify(data);
             });
        }

        function memorize(){
            let wordId = document.querySelector("#memorizeWordId").value;
            fetch("/api/word/"+wordId+"/memorize", { method: "POST" })
            .then(result => { return result.json(); })
            .then(data => {
                document.querySelector("#memorize").innerHTML = JSON.stringify(data);
             });
        }
    </script>
</html>